<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326028224308-u2o7uv1qssojkv8pc9mpdknd0i8jo95s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326028224308-u2o7uv1qssojkv8pc9mpdknd0i8jo95s</string>
	<key>API_KEY</key>
	<string>AIzaSyD3HRfynSs620reaD9Qx8Jpxc6WASCSz30</string>
	<key>GCM_SENDER_ID</key>
	<string>326028224308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edule</string>
	<key>PROJECT_ID</key>
	<string>edule-app</string>
	<key>STORAGE_BUCKET</key>
	<string>edule-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326028224308:ios:7a58643773a7813227a761</string>
</dict>
</plist>